.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.mui-content {
	height: 100%;
}

.themecolor1 {
	background-color: #00796B;
}

.themecolor2 {
	background-color: #009688;
}

.themeTitle {
	color: white;
	font-size: 140%;
	height: 60px;
}

.myBtn {
	color: #fff;
	border: 1px solid #009688;
	background-color: #009688;
}

.myBtn:enabled:active,
.myBtn.mui-active:enabled {
	color: #fff;
	border: 1px solid #00796B;
	background-color: #00796B;
}

.round-img {
	border-radius: 80px;
	width: 80px;
	height: 80px;
	margin: 10px;
}
